
.container {
    width: 800px;
    margin: auto    ;
    background-color: white;
}
body {
    background-color: #eaeaea;
    font: 16px/28px Arial, sans-serif;
    color: #333;
    background-image: url(img/A.jpg);
}
.header {
    padding: 20px;
    padding-bottom: 10px;
}
.header .judul {
    font-size: 40px;
    font-weight: bold;
}
.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px; 
}
.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}
.header a:hover {
    background-color: lightskyblue;
    color: white;
}
.hero {
    height: 280px;
    background-image: url("img/fotot4.jpg");
    background-size: cover;
    background-position: 0 -700px;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}
.content {
    padding: 20px;
}
.content h2 {
    font-size: 28px;
    font-weight: bold;;
}
.content .penulis {
    font-size: 11px;
    margin-top: -5px;
}
.content p {
    margin-bottom: 20px;
    font-size: 14px;
}
.content .penulis a {
    color: salmon;
    text-decoration: none;
}
.content .penulis a:hover {
    background-color: lightskyblue;
    color: white;
}
.footer {
    background-color: #333;;
    padding: 10px;
}
.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}
